  <br>
    <h4>Lets practice!</h4>
  <br>
  <p>This pratice session has <%= @practice.questions.count %> questions. Click each question card to practice </p>

<div id="myProgress">
  <div id="myBar">0%</div>
</div>
<br>
<button onclick="move()">Click Me</button>

<script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 10;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
        elem.innerHTML = width  + "%";
      }
    }
  }
}
</script>

<div class="flex-container3">
  <% @practice.questions.each do |question| %>
  <div class="card-product2">
    <%= link_to interview_practice_question_path(@interview, @practice, question) do %>
    <button onclick="move()">Click Me</button>
    <% end %>
  </div>
  <% end %>
</div>


<% @practice.questions.order(created_at: :desc).last(1)  %>


