<br>
<div class="text-center">

  <h3><%= @interview.company %></h3>
    <h4>Practices:  <%= @interview.practices.count %></h4>
</div>
<div class="d-flex justify-content-between pt-2 pb-2">
  <span>
    <%= link_to "Practices", interview_practices_path(@interview), class: "btn btn-primary btn-lg" %>
  </span>
    <span>
    <%= link_to "Create a practice", new_interview_practice_path(@interview), class: "btn btn-primary btn-lg" %>
  </span>
</div>





