index.html.erb



<h2> Number of practice interviews xxx </h2>

<div class="flex-container3">
  <% @interview.practices.each do |practice| %>
  <div class="card-product2">
    <h6><%= practice.title %></h6>
     <%= link_to interview_practice_path(@interview, practice) do %>
    <div class="card-product-infos">
      <h2> Link to show </h2>
    </div>
      <% end %>
  </div>
  <% end %>
</div>
