
<h2> <%= @interview.company %> practice interviews </h2>


<div class="flex-container3">
  <% @interview.practices.each do |practice| %>
  <div class="card-product2">
    <h6><%= practice.title %></h6>
     <%= link_to interview_practice_path(@interview, practice) do %>
    <div class="card-product-infos">
      <h2> Take practice </h2>
      <p> <strong><%= practice.questions.count %> questions</strong></p>
    </div>
      <% end %>
  </div>
  <% end %>
</div>
