

  <br>
    <h4>Lets practice!</h4>
  <br>

<p>You are about to take a practice interview that simulates the style of questions asked during <%= @interview.company %> interviews. </p>

<span>
    <%= link_to "Choose a different practice", interview_practices_path(@interview), class: "btn btn-primary btn-lg" %>
  </span>

<span>
  <%= link_to "Continue", interview_practice_question_path(@interview, @practice, "1"), class: "btn btn-primary btn-lg " %>
</span>




