



  <div class="form-style-5 w-50 mb-0 ml-100">
       <h4></h4>
      <div class="questions-added">
        <% @practice.questions.sample(1).each do |question| %>
        <div class="question-card">
          <p><%= question.text %></p>
        </div>
      <% end %>
      </div>
    </div>



<%= link_to "next", interview_practice_path(@interview, @practice), class: "btn btn-primary btn-lg" %>
