


<div class="form-style-5 w-50 mb-0 ml-100">
     <h4></h4>
    <div class="questions-added">
      <div class="question-card">
        <p><%= @practice.question %></p>
      </div>
    </div>
  </div>
