.btn-primary {
    background-color: $blue !important;
    border-color: $blue !important;
    color: white !important;
}

.btn-primary-create {
    background-color: $blue !important;
    border-color: $blue !important;
    color: white !important;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: blue;opacity:0.8;
    border-color: blue;opacity:0.8;
    color: white !important;
}

.btn-primary-create:hover {
    background-color: #104D64 !important;
    border-color: #104D64 !important;
    margin-top: 10px;
    color: white !important;
}


.btn-primary {
    background-color: $blue !important;
    border-color: $blue !important;
    color: white;
}
